#thumbnails {
  overflow: hidden;
}

#thumbnails .gthumb {
  position: relative;
  overflow: hidden;
  float: left;
  display: inline;
  background: none !important;
}

#thumbnails .gthumb a {
  position: absolute;
}

.gthumb .thumbnail, .gthumb .thumbnail:hover {
  border: 0 none !important;
  margin: 0 !important;
  padding: 0 !important;
}