#thumbnails {
  overflow: hidden;
}

#thumbnails li {
  position: relative;
  overflow: hidden;
  float: left;
  display: inline;
  background: none !important;
}

#thumbnails li a {
  position: absolute;
}

.thumbnail, .thumbnail:hover {
  border: 0 none !important;
  margin: 0 !important;
  padding: 0 !important;
}